.rob-cond {
    font-family: 'Roboto Condensed', sans-serif;
}

.bg-black {
    background-color: #313131;
}

.bg-pink {
    background-color: #7c003c;
}

.text-pink {
    color: #7c003c;
}

.border-gray {
    border-top: 2px solid rgba(224, 224, 224, 0.5);
}

/* Properties for Header */

header h1 {
    padding: 4rem 0;
}

header a {
    color: white;
}

header a:hover {
    text-decoration: none;
    color: #888888 !important;
}

/* Properties for Navigation Menu */

nav button {
    margin: 0 auto 1rem auto;
}

nav ul a {
    border-top: 2px solid rgba(224, 224, 224, 0.5);
}

nav button a:hover,
nav ul a:hover {
    color: black;
    text-decoration: none;
}

/* Properties for all pages */

main h1 {
    text-decoration: underline;
}

main p span {
    font-weight: bold;
}

main p {
    width: 80%;
    margin: auto;
}

/* Properties for Home page  */

.home img {
    display: flex;
    margin: 2rem auto;
    border: #1f1c18 1px solid;
    width: 75%;
}

.home ul {
    margin-left: 10%;
}

.part2 {
    padding-top: 2rem;
}

/* Properties for About Page */

.why {
    font-size: 2rem;
    font-weight: bold;
}

.cv {
    width: 25rem;
}

/* Properties for Contact Page */

.contact form {
    width: 80%;
    margin: auto;
}

.contact input,
.contact textarea {
    width: 50%;
    margin: auto;
}

/* Properties for screen with min-width 576px */

@media screen and (min-width: 576px) {
    /* Properties for Navigation Menu */
    nav ul {
        margin: auto;
    }

    nav ul a {
        border-top: none;
    }

    /* Properties for About page */

    .cv {
        width: 30rem;
    }
}

/* Properties for screen with min-width 768px */

@media screen and (min-width: 768px) {

    body {
        margin: 2rem auto 0 auto;
        display: flex;
    }

    /* Properties for Header */

    header {
        padding-top: 4rem;
        margin-left: 2rem;
    }

    header hr {
        display: none;
    }

    .col {
        flex-basis: 0;
        flex-grow: 0;
    }

    /* Properties for Navigation Menu */

    nav {
        text-align: left;
    }

    nav ul {
        flex-direction: column !important;
        margin: 0;
        width: 15rem;
    }

    /* Properties for Home Page */

    .home section {
        margin:auto!important;
    }

    /* Properties for About page */

    .cv {
        width: 30rem;
    }

    main {
        width: 40rem;
        margin: auto;
    }
}

/* Properties for screen with min-width 992px */

@media screen and (min-width: 992px) {

    /* Properties for Header */

    header{
        padding-top: 4rem;
        margin-left: 5rem;
    }

    /* Properties for Main */

    main {
        width: 40rem;
        margin: auto;
    }

    /* Properties for Home Page */

    main p,
    .contact form {
        width: 90%;
    }

    /* Properties for About page */

    .cv {
        width: 40rem;
    }
}

/* Properties for screen with min-width 1200px */

@media screen and (min-width: 1200px) {
    header {
        padding-top: 4rem;
        margin-left: 5rem;
    }
}