.rob-cond {
    font-family: 'Roboto Condensed', sans-serif;
}

.bg-black {
    background-color: #313131;
}

.bg-pink {
    background-color: #7c003c;
}

.text-pink {
    color: #7c003c;
}

.border-gray {
    border-top: 2px solid rgba(224, 224, 224, 0.5);
}

.mb-6 {
    margin-bottom: 6rem;
}

/* Mask arrow input number */

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}

/* Properties for Header */

header h1 {
    padding: 4rem 0;
}

header a {
    color: white;
}

header a:hover {
    text-decoration: none;
    color: #888888 !important;
}

/* Properties for Navigation Menu */

nav button {
    margin: 0 auto 1rem auto;
}

nav ul a {
    border-top: 2px solid rgba(224, 224, 224, 0.5);
}

nav button a:hover,
nav ul a:hover {
    color: black;
    text-decoration: none;
}

/* Properties for all pages */

main h1 {
    text-decoration: underline;
}

main p span {
    font-weight: bold;
}

main p {
    width: 80%;
    margin: auto;
}

/* Properties for Home page  */

.home img {
    display: flex;
    margin: 2rem auto;
    border: #1f1c18 1px solid;
    width: 75%;
}

.home ul {
    margin-left: 10%;
}

.part2 {
    padding-top: 2rem;
}

/* Properties for Design Page */

.design h2,
.development h2 {
    width: 94%;
    margin: auto;
    font-size: 1.5rem;
}

.link-fox {
    text-decoration: underline black;
    color: black;
}

.link-fox:hover {
    color: #787878;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    margin-top: 20%;
}

.carousel-control-prev {
    margin-left: 27%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
}


/* Properties for About Page */

.why {
    font-size: 2rem;
    font-weight: bold;
}

.cv {
    width: 25rem;
}

/* Properties for Contact Page */

.contact form {
    width: 80%;
    margin: auto;
}

.contact input,
.contact textarea {
    width: 50%;
    margin: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 55px;
    border-top: 2px solid white;
}

.modal a {
    text-decoration: none;
}

.modal-footer button:hover {
    background-color: white;
    border: 1px solid black;
    color: black !important;
}

.modal-footer button:hover a{
    color: #7c003c !important;
}

/**/

.fond-form-1,
.fond-form-2,
.fond-form-3,
.fond-form-4,
.fond-form-5,
.fond-form-6,
.fond-form-7,
.fond-form-8,
.fond-form-9,
.fond-form-10,
.fond-form-11,
.fond-form-12,
.fond-form-13,
.fond-form-last {
    margin-top: 3rem;
    border: 1px solid #f9f9f9;
    border-radius: 20px;
    height: 30rem;
    width: 80%;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px 5px #ededed;
}

.fond-form-2,
.fond-form-3,
.fond-form-4,
.fond-form-5,
.fond-form-6,
.fond-form-7,
.fond-form-8,
.fond-form-9,
.fond-form-10,
.fond-form-11,
.fond-form-12,
.fond-form-13,
.fond-form-last {
    display: none;
}

#about {
    text-decoration: underline solid black;
}

.what {
    display: none;
}

.choice,
#about-form-3,
#about-form-4,
#about-form-5,
#about-form-6,
#about-form-7,
#about-form-8,
#about-form-9,
#about-form-10,
#about-form-11,
#about-form-12,
#about-form-13 {
    color: #7c003c;
}

#what-integrate,
#keep,
#alert,
#social-network {
    display: none;
}

.mark-name {
    display: none;
}

.color {
    display: flex;
    width: 100%;
    padding-top: .5rem;
}

.site input,
.identity input,
.integrate input,
.keep input,
.quality input,
.creation input,
.selection select,
.mark-display input,
.color input {
    cursor: pointer;
}

#ref,
#crea {
    width: 60%;
}

.please {
    font-size: .8rem;
    font-weight: bold;
}

.file,
.url {
    display: none;
}
/* Properties for screen with min-width 576px */

@media screen and (min-width: 576px) {
    /* Properties for Navigation Menu */
    nav ul {
        margin: auto;
    }

    nav ul a {
        border-top: none;
    }

    /* Properties for About page */

    .cv {
        width: 30rem;
    }
}

/* Properties for screen with min-width 768px */

@media screen and (min-width: 768px) {

    .colonne {
        margin: 2rem auto 0 auto;
        display: flex;
    }

    /* Properties for Header */

    header {
        padding-top: 4rem;
        margin-left: 2rem;
    }

    header hr {
        display: none;
    }

    .col {
        flex-basis: 0;
        flex-grow: 0;
    }

    /* Properties for Navigation Menu */

    nav {
        text-align: left;
    }

    nav ul {
        flex-direction: column !important;
        margin: 0;
        width: 15rem;
    }

    /* Properties for Home Page */

    .home section {
        margin:auto!important;
    }

    /* Properties for About page */

    .cv {
        width: 30rem;
    }

    main {
        width: 40rem;
        margin: auto;
    }
}

/* Properties for screen with min-width 992px */

@media screen and (min-width: 992px) {

    /* Properties for Header */

    header{
        padding-top: 4rem;
        margin-left: 5rem;
    }

    /* Properties for Main */

    main {
        width: 40rem;
        margin: auto;
    }

    /* Properties for Home Page */

    main p,
    .contact form {
        width: 90%;
    }

    /* Properties for About page */

    .cv {
        width: 40rem;
    }
}

/* Properties for screen with min-width 1200px */

@media screen and (min-width: 1200px) {
    header {
        padding-top: 4rem;
        margin-left: 5rem;
    }
}