{% extends 'layout/layout.twig' %}

{% block subtitle %}Contact{% endblock %}

{% block description %}Si vous avez une question ou un problème, utilisez le formulaire le contact pour envoyer un message.{% endblock %}

{% block main %}
    <main>
        <section class="contact column about text-center mb-5">
        <h1 class="rob-cond text-pink text-uppercase pt-4">Contact</h1>
            <p class="mt-5">Vous souhaitez un devis ou simplement des renseignements ?</p>
            <p class="mt-4 bg-black text-white p-4 mb-4">Contactez-moi directement sur ce formulaire.</p>

            <form class="bg-pink pb-5"  method="post" action="">
                <div class="form-group pt-5">
                    <label class="text-white" for="name">Votre nom* :</label>
                    <input class="form-control " name="name" type="text" placeholder="Nom" required>
                </div>

                <div class="form-group">
                    <label class="text-white" for="firstname">Votre prénom* :</label>
                    <input class="form-control" name="firstname" type="text" placeholder="Prénom" required>
                </div>

                <div class="form-group">
                    <label class="text-white" for="email">Votre adresse de messagerie* :</label>
                    <input class="form-control" name="email" class="email" type="email" placeholder="Email" required>
                </div>

                <div class="form-group">
                    <label class="text-white" for="subject">Sujet* :</label>
                    <input class="form-control" name="subject" type="text" placeholder="Sujet" required>
                </div>
                <div class="form-group">
                    <label class="text-white" for="content">Votre message* :</label>
                    <textarea class="form-control" name="content" cols="18" rows="5" placeholder="Message" required></textarea>
                </div>

                <input class="text-uppercase text-white bg-black p-2" name="submit" type="submit" value="Envoyer">
            </form>
        </section>
    </main>
{% endblock %}