{% extends 'layout/layout.twig' %}

{% block subtitle %}Création Design{% endblock %}

{% block description %}Retrouvez toutes les créations design sur cette page.{% endblock %}

{% block main %}
    <main class="design">
        <h1 class="rob-cond text-pink text-center text-uppercase pt-4">Création Design</h1>
        <section class="text-center mt-5">
            <h2 class="bg-pink text-white p-4 mb-4">Logos :</h2>
            <div class="container">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column">
                        <img class="img-fluid" src="css/img/design/logos/Logo_Sevin.jpg" alt="Logo">
                        <img class="img-fluid" src="css/img/design/logos/logoimpo1.jpg" alt="Logo">
                    </div>
                    <div class="d-flex flex-column">
                        <img class="img-fluid" src="css/img/design/logos/original.jpg" alt="Logo">
                        <img class="img-fluid" src="css/img/design/logos/canna.jpg" alt="Logo">
                    </div>
                    <div class="d-flex flex-column">
                        <img class="img-fluid" src="css/img/design/logos/jess.jpg" alt="Logo">
                        <img class="img-fluid" src="css/img/design/logos/beneth.jpg" alt="Logo">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column">
                        <img class="img-fluid" src="css/img/design/logos/Tentaculart.jpg" alt="Logo">
                        <img class="img-fluid" src="css/img/design/logos/villa.jpg" alt="Logo">
                    </div>
                    <div class="d-flex flex-column">
                        <img class="img-fluid" src="css/img/design/logos/sandwiche.jpg" alt="Logo">
                    </div>
                    <div class="d-flex flex-column">
                        <img class="img-fluid" src="css/img/design/logos/Luxury.jpg" alt="Logo">
                    </div>
                </div>
            </div>
        </section>

        <section class="text-center mt-5">
            <h2 class="bg-dark text-white p-4 mb-4">Affiches :</h2>
            <div class="container">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column">
                        <img class="img-fluid" src="css/img/design/affiches/douche.jpg" alt="Affiche">
                    </div>
                    <div class="d-flex flex-column">
                        <img class="img-fluid" src="css/img/design/affiches/Affiche9.jpg" alt="Affiche">
                    </div>
                    <div class="d-flex flex-column">
                        <img class="img-fluid" src="css/img/design/affiches/affiche1.jpg" alt="Affiche">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column">
                        <img class="img-fluid" src="css/img/design/affiches/Affiche10.jpg" alt="Affiche">
                    </div>
                </div>
            </div>
        </section>

        <section class="text-center mt-5">
            <h2 class="bg-pink text-white p-4 mb-4">Pochette album :</h2>
            <div class="container">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column">
                        <a class="link-fox mb-4" href="https://www.youtube.com/channel/UC17SkyLR75G3anM_HTG5GKg">Foxenety – Youtube </a>
                        <img class="img-fluid" src="css/img/design/albums/Foxenety.jpg" alt="Pochette album">
                    </div>
                </div>
            </div>
        </section>

        <section class="text-center mt-5">
            <h2 class="bg-dark text-white p-4 mb-4">Bannière :</h2>
            <div class="container">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column">
                        <img class="img-fluid" src="css/img/design/bannieres/Header.png" alt="Bannière">
                    </div>
                </div>
            </div>
        </section>

        <section class="text-center mt-5 mb-6">
            <h2 class="bg-pink text-white p-4 mb-4">Curriculum vitae :</h2>
            <div class="container">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column">
                        <img class="img-fluid" src="css/img/cv.jpg" alt="cv">
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}