{% extends 'layout/layout.twig' %}

{% block subtitle %}Création Design{% endblock %}

{% block description %}Retrouvez toutes les créations design sur cette page.{% endblock %}

{% block main %}
    <main>
        <section>
            <h1>Logos :</h1>
            <ul>
                <li>
                    <img src="" alt="Logo 1">
                </li>
                <li>
                    <img src="" alt="Logo 2">
                </li>
                <li>
                    <img src="" alt="Logo 3">
                </li>
                <li>
                    <img src="" alt="Logo 4">
                </li>
            </ul>
        </section>

        <section>
            <h1>Affiches :</h1>
            <ul>
                <li>
                    <img src="" alt="Affiche 1">
                </li>
                <li>
                    <img src="" alt="Affiche 2">
                </li>
                <li>
                    <img src="" alt="Affiche 3">
                </li>
                <li>
                    <img src="" alt="Affiche 4">
                </li>
            </ul>
        </section>

        <section>
            <h1>Pochette album :</h1>
            <ul>
                <li>
                    <img src="" alt="Pochette album 1">
                </li>
            </ul>
        </section>

        <section>
            <h1>Bannière :</h1>
            <ul>
                <li>
                    <img src="" alt="Bannière 1">
                </li>
            </ul>
        </section>

        <section>
            <h1>Curriculum vitae :</h1>
            <ul>
                <li>
                    <img src="" alt="CV 1">
                </li>
            </ul>
        </section>
    </main>
{% endblock %}