{% extends 'layout/layout.twig' %}

{% block subtitle %}Accueil{% endblock %}

{% block description %}Page d'accueil de mon site internet. Bienvenue sur mon site internet. Je suis développeur web et designer...".{% endblock %}

{% block main %}
    <main>
        <section>
            <h1>Bienvenue sur mon site internet</h1>
        </section>
    </main>
{% endblock %}