{% extends 'layout/layout.twig' %}

{% block subtitle %}Web Designer & Web Developer en Freelance{% endblock %}

{% block description %}Page d'accueil de mon site internet. Bienvenue sur mon site internet. Je suis développeur web et designer...{% endblock %}

{% block main %}
    <main class="home">
        <section class="text-center container-fluid">
            <div class="columns">
                <img src="css/img/Ophers.jpg" alt="Photo de Ophélie RESFA">
                <div class="container pinky my-5">
                    <h1 class="mt-1 pb-1">Qui suis-je ?</h1>
                </div>
            </div>
            <p class="alive text-white p-2">Bonjour !</p>
            <p class="text-center">Je m’appelle Ophélie RESFA, j’ai 24 ans et je suis passionnée par l’informatique depuis des années.</p>
            <p class="bg-dark text-white p-2">Ma spécialité est surtout le Web Design :</p>
            <ul class="text-left text-purple">
                <li>
                    Création de logos.
                </li>
                <li>
                    Création d'affiches.
                </li>
                <li>
                    Création de cartons / cartes.
                </li>
                <li>
                    Création de maquettes (Web)
                </li>
                <li>
                    Etc..
                </li>
            </ul>
            <p class="bg-dark text-white p-2">Mais aussi le Web Développement :</p>
            <ul class="text-left text-purple">
                <li>
                    Création de sites internet.
                </li>
            </ul>
            <hr>
            <p>En effet comme je le disais plus haut je suis une passionnée.</p>
            <p>Après une année de Faculté d’ingénieur informatique mon coeur s’est tourné vers la programmation informatique.</p>
            <p>J’ai donc décidé de me former et de me diplômer en tant que Développeur Web Junior Full Stack. Je continue à côté de ça à prendre un énorme plaisir à faire des créations de design.
            </p>
            <p class="alive text-white p-2">Vous pouvez voir certaines de mes réalisations sur mon portfolio.</p>
        </section>
    </main>
{% endblock %}