{% extends 'layout/layout.twig' %}

{% block subtitle %}Portfolio{% endblock %}

{% block description %}Page d'accueil de mon site internet. Bienvenue sur mon site internet. Je suis développeur web et designer...".{% endblock %}

{% block main %}
    <main>
        <section>
            <h1>À propos</h1>
            <p>Vous souhaitez faire de la publicité pour votre besoin professionnel ou personnel ? Et pour cela vous ne savez pas par quoi commencer ?</p>
            <p>Logo, cartes de visites, site internet, flyers / affiches publicitaires, vidéos publicitaires…</p>
            <p>Je peux vous apporter une solution pour chacune de ces créations ci-dessus.</p>
            <p>POURQUOI ME CHOISIR ?</p>
            <p>Il est vrai et je ne le cache pas, je suis une jeune entrepreneuse, ma création d’entreprise est récente. Mais cela ne m’empêche pas d’être en capacité de vous apporter les éléments nécessaires à l’évolution de votre entreprise ou encore de répondre de la manière la plus précise et minutieuse à votre besoin et vos envies.</p>
            <p>En effet depuis le jour où j’ai eu un ordinateur entre les mains, je me suis tout de suite familiarisée et amusée à utiliser des logiciels comme ceux de la suite Adobe comme Photoshop et plus récemment Illustrator ainsi que After Effect.</p>
            <p>J’ai également plus de 2 ans de connaissances et de pratiques en langages informatiques tels que : HTML5, CSS3, JavaScript, PHP, MYSQL.</p>
            <p>Si vous lisez toujours, c’est que vous n’avez pas eu peur et que vous êtes peut-être intéressé par mes services. Alors n’attendez plus et contactez-moi !</p>
            <p>Faites moi confiance & je vous le rendrais bien.</p>
            <img src="" alt="CV de Ophers">
        </section>
    </main>
{% endblock %}