{% extends 'layout/layout.twig' %}

{% block subtitle %}Portfolio{% endblock %}

{% block description %}Bienvenue sur mon portfolio. Ici, vous pourrez retrouvez les différentes créations que j’ai réalisé..{% endblock %}

{% block main %}
    <main>
        <section>
            <h1>Portfolio</h1>
            <p>Bienvenue sur mon portfolio. <br> Ici, vous pourrez retrouvez les différentes créations que j’ai réalisé.</p>
            <ul>
                <li><a href="">Création Design</a></li>
                <li><a href="">Créations Développement</a></li>
            </ul>
        </section>
    </main>
{% endblock %}