{% extends 'layout/layout.twig' %}

{% block subtitle %}Devis gratuit{% endblock %}

{% block description %}Demander votre devis gratuit... Rentrer les informations demandées. {% endblock %}

{% block main %}
    <main>
        <section class="devis text-center mb-6">
            <h1 class="rob-cond text-pink text-uppercase pt-4">Devis gratuit</h1>
            <div class="fond-form-1 container" id="fond-form-1">
                <form id="form" class="p-4">
                        <small>Reseignez toutes les informations demandées pour obtenir votre devis</small>

                        <div class="form-group mt-5">
                            <label for="name">Entrez votre nom</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="NOM" required>
                        </div>

                        <div class="form-group">
                            <label for="firstname">Entrez votre Prénom</label>
                            <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Prénom" required>
                        </div>

                        <div class="form-group">
                            <label for="email">Entrez votre mail</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="exemple.email@gmail.com" required>
                        </div>

                    <button id="btn-devis" class="btn-devis btn bg-black text-white mt-4" type="submit" onsubmit="return addDatas()">Suivant</button>
                </form>
            </div>

            <div class="fond-form-2 container" id="fond-form-2">
                <form class="p-4">
                    <p id="datas" class="mt-5"></p>
                    <small>Reseignez toutes les informations demandées pour obtenir votre devis</small>

                    <div class="form-group mt-5">
                        <label for="selection">Vous avez besoin :</label>
                        <select id="selection" class="form-control">
                            <option value="">Voir la liste ...</option>
                            <optgroup label="D'une création graphique">
                                <option value="Logo">Logo</option>
                                <option value="">Carte de visite</option>
                                <option value="">Affiche / Affiche publicitaire</option>
                                <option value="">Pochette d'album</option>
                                <option value="">Header / Bannière</option>
                                <option value="">Curriculum Vitae</option>
                            </optgroup>
                            <optgroup label="D'une création de site internet">
                                <option value="">Site internet</option>
                            </optgroup>
                        </select>
                    </div>

                    <button class="btn-devis btn bg-black text-white mt-4" type="button">Suivant</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}

