<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Ophers - {{ block('subtitle')}}{% endblock %}</title>
    <meta name="description" content="{{ block('description') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="colonne">
<header class="col text-center mt-4">
    <h1 class="bg-black p-5">
        <a class="text-uppercase text-white rob-cond" href="#">Ophers</a>
    </h1>
    <p class="mt-5 mb-5">Web Designer & Web Developer en Freelance</p>
    {{ include('layout/navbar.twig') }}
    <hr>
</header>

{% block main %}{% endblock %}
</div>
</body>

<footer class="footer bg-black">
    <div class="container text-center">
        <!-- Button trigger modal -->
        <button type="button" class="btn bg-dark text-white" data-toggle="modal" data-target="#exampleModal">
            Devis gratuit
        </button>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Devis gratuit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Souhaitez-vous vraiment faire une demande de devis ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-black text-white" data-dismiss="modal">Non</button>
                <button type="button" class="btn bg-pink"><a class="text-white" href="{{ url('quote') }}">Oui</a></button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/b28c94d746.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>