<nav>
    <ul>
        <li>
            <a href="{{ url('home') }}">Accueil</a>
        </li>
        <li>
            <a href="{{ url('') }}">Portfolio</a>
        </li>
        <li>
            <a href="{{ url('about') }}">À propos</a>
        </li>
        <li>
            <a href="{{ url('') }}">Contact</a>
        </li>
    </ul>
</nav>